{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="margin: 5rem; height:30rem">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static 'app/images/banner/b1.jpg' %} class="d-block mx-auto" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src={% static 'app/images/banner/b2.jpg' %} class="d-block mx-auto" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src={% static 'app/images/banner/b3.jpg' %} class="d-block mx-auto" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src={% static 'app/images/banner/b4.jpg' %} class="d-block mx-auto" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src={% static 'app/images/banner/b6.jpg' %} class="d-block mx-auto" alt="banner image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner-slider %}

{% block information %}
<div class="welcome-container">
    <div class="row bg-success text-center p-5 text-white shadow" style="color: white !important; background-color: transparent !important;">
        <h1>Welome to the UGA Bookstore...</h1>
        <small class="f5-5">
            Information ........
        </small>
    </div>
</div>
{% endblock information %}

{% block main-content %}
<br></br>
<div class="featured-top-books">
  <h1 class="h1" style="
  display: flex;
  flex-direction: row;
  justify-content: center;">Featured Books</h1>
  <br></br>
  <div id="featured-books-carousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      {% for b in featuredBooks %}
        {% if forloop.counter0|divisibleby:3 %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}" style="margin-left:5rem;">
            <div class="row" style="width:fit-content; margin-left:10rem;">
        {% endif %}
        <div class="col text-center mb-4">
          <a class="btn">
            <div style="border: 5px solid white; border-radius: 1rem; width: 22rem;" class="book-container">
              <img src="{{b.cover.url}}" width="300px" height="300px" alt="No Image" />
              <div class="details-container">
                <div class="fw-bold">{{b.title}}</div>
                <div class="fw-bold" style="font-family: cursive; font-size: 15px">{{b.author}}</div>
                <div class="fw-bold text-danger">
                  $ {{b.selling_price}}
                </div>
                <div class="rating">
                  {% for i in "12345" %}
                  {% if b.rating >= forloop.counter %}
                  <span class="star" style="color: gold;">&#9733;</span>
                  {% else %}
                  <span class="star">&#9733;</span>
                  {% endif %}
                  {% endfor %}
                </div>
                <div>
                  <a href="{% url 'bookDetails' book_isbn=b.ISBN %}" class="btn btn-light" role="button" style="border: 2px solid white">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> View Details
                  </a>
                  <button class="btn btn-primary me-md-2 cart-button" type="button" id="cart-button-{{b.id}}">
                    Add to Cart
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#featured-books-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#featured-books-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
        


<br></br>
<div class="featured-top-books">
  <h1 class="h1" style="
  display: flex;
  flex-direction: row;
  justify-content: center;">Top Sellers</h1>
  <br></br>
  <div id="topsellers-books-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for b in topSellers %}
        {% if forloop.counter0|divisibleby:3 %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <div class="row" style="width:fit-content; margin-left:10rem;">
        {% endif %}
        <div class="col text-center mb-4">
          <a class="btn">
            <div style="border: 5px solid white; border-radius: 1rem; width: 22rem;" class="book-container">
              <img src="{{b.cover.url}}" width="300px" height="300px" alt="No Image" />
              <div class="details-container">
                <div class="fw-bold">{{b.title}}</div>
                <div class="fw-bold" style="font-family: cursive; font-size: 15px">{{b.author}}</div>
                <div class="fw-bold text-danger">
                  $ {{b.selling_price}}
                </div>
                <div class="rating">
                  {% for i in "12345" %}
                  {% if b.rating >= forloop.counter %}
                  <span class="star" style="color: gold;">&#9733;</span>
                  {% else %}
                  <span class="star">&#9733;</span>
                  {% endif %}
                  {% endfor %}
                </div>
                <div>
                  <a href="{% url 'bookDetails' book_isbn=b.ISBN %}" class="btn btn-light" role="button" style="border: 2px solid white">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> View Details
                  </a>
                  <button class="btn btn-primary me-md-2 cart-button" type="button" id="cart-button-{{b.id}}">
                    Add to Cart
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#topsellers-books-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#topsellers-books-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br></br>
{% endblock main-content %}
